:root {
  /* sizes */
  --size-small: 12px;
  --size-normal: 16px;
  --size-large: 24px;

  /* colors */
  --color-white: #fff;
  --color-black: #333;
  --color-dashed: #d9d9d9;
  --color-transparent: #0000;

  --color-primary: #337ab7;
  --color-success: #218838;
  --color-info: #31b0d5;
  --color-warning: #ec971f;
  --color-danger: #c9302c;

  /* icons*/
  --icon-arrow-left: '\e900';
  --icon-arrow-right: '\e901';
  --icon-check-circle: '\e902';
  --icon-check-solid-circle: '\e903';
  --icon-check: '\e904';
  --icon-coin-rmb: '\e905';
  --icon-delete: '\e906';
  --icon-download: '\e907';
  --icon-editor: '\e908';
  --icon-error-circle: '\e909';
  --icon-error-solid-circle: '\e90a';
  --icon-error: '\e90b';
  --icon-information: '\e90c';
  --icon-loading-snaker: '\e90d';
  --icon-loading: '\e90e';
  --icon-location: '\e90f';
  --icon-lock: '\e910';
  --icon-message: '\e911';
  --icon-minus-square: '\e912';
  --icon-minus: '\e913';
  --icon-phone: '\e914';
  --icon-plus-square: '\e915';
  --icon-plus: '\e916';
  --icon-print: '\e917';
  --icon-search: '\e918';
  --icon-star: '\e919';
  --icon-time: '\e91a';
  --icon-user: '\e91b';
  --icon-warnning-solid-circle: '\e91c';
  --icon-warnning: '\e91d';

  --icon-size-normal: var(--size-normal);
  --icon-size-small: var(--size-small);
  --icon-size-large: var(--size-large);

  /* button */
  --button-primary-color: var(--color-white);
  --button-primary-border: var(--color-primary);
  --button-primary-fill: var(--color-primary);
  --button-success-color: var(--color-white);
  --button-success-border: var(--color-success);
  --button-success-fill: var(--color-success);
  --button-size-normal: var(--size-normal);
  --button-size-small: var(--size-small);
  --button-size-large: var(--size-large);

}

