:root {
  /* base */
  --opacity: 0.65;
  --border-radius: 4px;

  /* sizes */
  --size-small: 12px;
  --size-normal: 16px;
  --size-large: 24px;

  /* colors */
  --color-white: #fff;
  --color-black: #333;
  --color-dashed: #d9d9d9;
  --color-transparent: #0000;

  --color-primary: #337ab7;
  --color-success: #218838;
  --color-info: #31b0d5;
  --color-warning: #ec971f;
  --color-danger: #c9302c;

  /* icons*/
  --icon-arrow-left: '\e900';
  --icon-arrow-right: '\e901';
  --icon-check-circle: '\e902';
  --icon-check-solid-circle: '\e903';
  --icon-check: '\e904';
  --icon-coin-rmb: '\e905';
  --icon-delete: '\e906';
  --icon-download: '\e907';
  --icon-editor: '\e908';
  --icon-error-circle: '\e909';
  --icon-error-solid-circle: '\e90a';
  --icon-error: '\e90b';
  --icon-information: '\e90c';
  --icon-loading-snaker: '\e90d';
  --icon-loading: '\e90e';
  --icon-location: '\e90f';
  --icon-lock: '\e910';
  --icon-message: '\e911';
  --icon-minus-square: '\e912';
  --icon-minus: '\e913';
  --icon-phone: '\e914';
  --icon-plus-square: '\e915';
  --icon-plus: '\e916';
  --icon-print: '\e917';
  --icon-search: '\e918';
  --icon-star: '\e919';
  --icon-time: '\e91a';
  --icon-user: '\e91b';
  --icon-warnning-solid-circle: '\e91c';
  --icon-warnning: '\e91d';

  --icon-size-normal: var(--size-normal);
  --icon-size-small: var(--size-small);
  --icon-size-large: var(--size-large);

  /* button */
  --button-default-color: #656b79;
  --button-default-border: #b8bbbf;
  --button-default-fill: #f6f8fa;
  --button-primary-color: var(--color-white);
  --button-primary-border: color-mod(var(--color-primary) shade(20%));
  --button-primary-fill: var(--color-primary);
  --button-success-color: var(--color-white);
  --button-success-border: var(--color-success);
  --button-success-fill: var(--color-success);
  --button-info-color: var(--color-white);
  --button-info-border: var(--color-info);
  --button-info-fill: var(--color-info);
  --button-warning-color: var(--color-white);
  --button-warning-border: var(--color-warning);
  --button-warning-fill: var(--color-warning);
  --button-danger-color: var(--color-white);
  --button-danger-border: var(--color-danger);
  --button-danger-fill: var(--color-danger);
  --button-size-normal: var(--size-normal);
  --button-size-small: var(--size-small);
  --button-size-large: var(--size-large);
  --button-disabled: var(--opacity);
  --button-radius: var(--border-radius);
  --button-line-height-default: 1.5;
  --button-line-height-small: 1.5;
  --button-line-height-large: 1.333;
  --button-padding-default: 2px 6px;
  --button-padding-small: 2px 6px;
  --button-padding-large: 2px 10px;
  --button-icon-spacing: 8px;

  /* toast */
  --fade-effect: {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  }

}

